/** Modal **/

.uawn-opt-in-prompt {
  display: none;
  position: fixed;
  max-width: 350px;
  padding: .75rem 1.33333rem;
  background: #008ec2;
  box-shadow: 0 1px 2px rgba(0,0,0,.25),0 -2px 5px rgba(0,0,0,.2),0 -1px 40px rgba(0,0,0,.2);
  color: #fff;
  z-index: 9999;
}

.uawn-opt-in-prompt.bottom-left {
  bottom: 1.33333rem;
  left: 1.33333rem;
}

.uawn-opt-in-prompt.bottom-center {
  margin: 5% auto;
  left: 0;
  right: 0;
  bottom: -40px;
}

.uawn-opt-in-prompt.bottom-right {
  bottom: 1.33333rem;
  right: 1.33333rem;
}

.uawn-opt-in-prompt.top-left {
  top: 1.33333rem;
  left: 1.33333rem;
}

.uawn-opt-in-prompt.top-right {
  top: 1.33333rem;
  right: 1.33333rem;
}

.uawn-opt-in-prompt.top-center {
  margin: 5% auto;
  left: 0;
  right: 0;
  top: -40px;
}

.uawn-opt-in-prompt.middle {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uawn-opt-in-prompt .optin-message {
  margin-right: 1.33333rem;
  margin-bottom: .75rem;
}

.uawn-opt-in-prompt .optin-buttons-wrapper button,
.uawn-opt-in-prompt .optin-buttons-wrapper span.prompt-button {
  display: inline-block;
}

button,
span.prompt-button {
  cursor: pointer;
  border: 0;
  padding: .5625rem .75rem;
  font-weight: 700;
  transition: background .25s linear;
}

.btn-prompt-allow {
  background: #ffc727;
  color: #3d494c;
}
.btn-prompt-allow:hover {
  background: #ffc00e;
}
.btn-prompt-dismiss {
  background: #00698f;
  color: #fff;
}
.btn-prompt-dismiss:hover {
  background: #005676;
}

/** Banner **/

.uawn-opt-in-prompt.prompt-banner {
  z-index: 500;
  max-width: inherit;
  padding: 6px 7px;
  position: fixed;
  width: 100%;
}

.uawn-opt-in-prompt.prompt-banner.top {
  top: 0;
}

.uawn-opt-in-prompt.prompt-banner.bottom {
  bottom: 0;
  overflow: hidden;
  transition: all 1s;
}

.uawn-opt-in-prompt.prompt-banner .prompt-banner-wrapper {
  position: relative;
}

.uawn-opt-in-prompt.prompt-banner .prompt-banner-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.uawn-opt-in-prompt.prompt-banner .prompt-banner-wrapper .optin-message {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 38px;
  width: 80%;
  float: left;
}

.uawn-opt-in-prompt.prompt-banner .prompt-banner-wrapper .optin-buttons-wrapper button,
.uawn-opt-in-prompt.prompt-banner .prompt-banner-wrapper .optin-buttons-wrapper span.prompt-button {
  margin-right: 5px;
}

/** Button **/

.uawn-opt-in-prompt-button {
  display: none;
}

.uawn-opt-in-prompt.prompt-button {
  display: block;
  position: relative !important;
  z-index: 0 !important;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.uawn-opt-in-prompt.prompt-button .optin-buttons-wrapper button,
.uawn-opt-in-prompt.prompt-button .optin-buttons-wrapper span.prompt-button {
  padding: 2px;
}

/** Example **/

.uawn-opt-in-prompt.example {
  position: relative !important;
  box-shadow: none !important;
  z-index: 0 !important;
}

.uawn-opt-in-prompt.prompt-banner.example {
  max-width: inherit;
  position: relative !important;
  box-shadow: none !important;
  z-index: 0 !important;
}

.uawn-opt-in-prompt.prompt-banner.example .prompt-banner-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.uawn-opt-in-prompt.prompt-banner.example .prompt-banner-wrapper .optin-message {
  margin-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 38px;
  width: 80%;
  float: left;
}

.uawn-opt-in-prompt.prompt-banner.example .prompt-banner-wrapper .optin-buttons-wrapper button,
.uawn-opt-in-prompt.prompt-banner.example .prompt-banner-wrapper .optin-buttons-wrapper span.prompt-button {
  float: right;
  margin-right: 5px;
}

.uawn-opt-in-prompt.prompt-button.example {
  max-width: inherit;
  background: transparent;
  position: relative !important;
  box-shadow: none !important;
  z-index: 0 !important;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
}

.uawn-opt-in-prompt.prompt-button.example .optin-buttons-wrapper {
  float: left;
}

.uawn-opt-in-prompt.prompt-button.example .uawn-button-snippet {
  float: left;
  margin-left: 20px;
  color: #000;
}

.uawn-opt-in-prompt.prompt-button.example .uawn-button-snippet p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2px;
}

.uawn-opt-in-prompt.prompt-button.example .descr.optional {
  display: none;
}

.uawn-opt-in-prompt.prompt-button.example .uawn-button-html-code {
  display: inline-block;
  background-color: #e2e2e2;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

/** Responsive **/

@media (max-width:61.25em) {
  .uawn-opt-in-prompt {
    bottom: 0;
    left: 0;
    margin: 1em;
  }
  .uawn-opt-in-prompt.prompt-banner {
    margin: 0;
  }
}
